.sidebar
  .side-header
    .side-header__box
      %p.side-header__box__name
        = current_user.name
      %ul.side-header__box__menu
        %li
          = link_to "#", class: "side-header__box__menu__new-group" do
            = icon('fas', 'edit')

        %li
          = link_to edit_user_path(current_user) , class: "side-header__box__menu__cog" do
            =icon('fas', 'cog')
  .groups
    .group
      %h3.group__name
        グループ
      %p.group__message
        新着メッセージ
